<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1 class="text-white">Hello Admin</h1>
        </div>
        <a class="text-muted" href="#">Logout</a>
    </div>
</nav>
<div class="container-fluid bg-light h-100">
    <div class="row h-100">
        <div class="col-lg-3 pt-2" style="background-color: white">
            <nav class="nav flex-column pt-3">
                <button class="btn btn-primary">
                    <a class="nav-link active text-white text-left" href="#users">Admin</a>
                </button>
                <button class="btn btn-light text-left">
                    <a class="nav-link" href="/user">User</a>
                </button>
            </nav>
        </div>
        <div class="col-lg-9">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="list"><br>
                    <h1>Admin panel</h1>

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="users">
                            <div class="tab-content" style="border: 1px solid lightgray">
                                <div class="tab-pane fade show active" id="user">
                                    <h4 class="p-2">All Users</h4>
                                    <div class="container-fluid p-4" style="background-color: white">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Age</th>
                                                    <th>Role</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user : ${listUser}">
                                                    <td th:text="${user.id}"></td>
                                                    <td th:text="${user.name}"></td>
                                                    <td th:text="${user.age}"></td>
                                                    <td th:text="${user.roles}"></td>

                                                    <td><a class="nav-link" data-toggle="modal" data-target="#myEdit">
                                                        <button class="btn btn-info">Edit</button>
                                                    </a></td>
                                                    <td><a class="nav-link" data-toggle="modal" data-target="#myDelete">
                                                        <button class="btn btn-danger">Delete</button>
                                                    </a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--new user-->
                        <div class="tab-pane fade" id="newUser">
                            <div>
                                <h4 class="p-2">Add new User</h4>
                                <div class="tab-content" style="border: 1px solid lightgray"><br>
                                    <form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
                                        <div class="form-group w-25 m-auto p-auto">
                                            <div class="col-lg-12">
                                                <h5 class="text-center">
                                                    Name
                                                </h5>
                                            </div>
                                            <input class="form-control" type="text" th:field="*{name}" id="name"
                                                   placeholder="Name">
                                        </div>
                                        <br>
                                        <div class="form-group w-25 m-auto p-auto">
                                            <div class="col-lg-12">
                                                <h5 class="text-center">
                                                    Age
                                                </h5>
                                            </div>
                                            <input class="form-control" type="text" th:field="*{age}" id="age"
                                                   placeholder="Age">
                                        </div>
                                        <br>
                                        <div class="form-group w-25 m-auto p-auto">
                                            <div class="col-lg-12">
                                                <h5 class="text-center">
                                                    Password
                                                </h5>
                                            </div>
                                            <input class="form-control" type="text" th:field="*{password}" id="password"
                                                   placeholder="Password" required="required">
                                        </div>
                                        <br>
                                        <div class="form-group w-25 m-auto p-auto">
                                            <tr>
                                                <div class="col-lg-12">
                                                    <h5 class="text-center">
                                                        Role
                                                    </h5>
                                                </div>
                                                <td>
                                                    <select class="form-control" name="role" multiple size="2">
                                                        <option>ADMIN</option>
                                                        <option>USER</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-md btn-success my-3">Add new User</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--delete user-->


<div class="modal" tabindex="-1" role="dialog" id="myDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group w-50 m-auto p-auto">
                        <div class="col-lg-12">
                            <h5 class="text-center">
                                ID
                            </h5>
                        </div>
                        <input type="id3" class="form-control" id="id3" placeholder="id" readonly>
                    </div>
                    <br>
                    <div class="form-group w-50 m-auto p-auto">
                        <div class="col-lg-12">
                            <h5 class="text-center">
                                Name
                            </h5>
                        </div>
                        <input type="name3" class="form-control" id="name3" placeholder="Name" readonly>

                    </div>
                    <br>
                    <div class="form-group w-50 m-auto p-auto">
                        <div class="col-lg-12">
                            <h5 class="text-center">
                                Age
                            </h5>
                        </div>
                        <input type="age3" class="form-control" id="age3" placeholder="Age" readonly>
                    </div>
                    <br>
                    <div class="form-group w-50 m-auto p-auto">
                        <div class="col-lg-12">
                            <h5 class="text-center">
                                Role
                            </h5>
                        </div>
                        <input type="role3" class="form-control" id="role3" placeholder="Role" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <td>
                    <a th:href="@{/remove/{id}}">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </td>
            </div>
        </div>
    </div>
</div>

<!--edit user-->
<div class="modal" tabindex="-1" role="dialog" id="myEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">

                    <div class="form-group w-50 m-auto p-auto">
                        <div class="col-lg-12">
                            <h5 class="text-center">
                                ID
                            </h5>
                        </div>
                        <input type="id2" class="form-control" id="id2" placeholder="id" readonly>
                    </div>
                    <br>

                    <div class="form-group w-50 m-auto p-auto">
                        <div class="col-lg-12">
                            <h5 class="text-center">
                                Name
                            </h5>
                        </div>
                        <input type="text" class="form-control" th:field="*{name}" id="name2" placeholder="Name">
                    </div>
                    <br>
                    <div class="form-group w-50 m-auto p-auto">
                        <div class="col-lg-12">
                            <h5 class="text-center">
                                Age
                            </h5>
                        </div>
                        <input type="text" class="form-control" th:field="*{age}" id="age2" placeholder="Age">
                    </div>
                    <br>
                    <div class="form-group w-50 m-auto p-auto">
                        <div class="col-lg-12">
                            <h5 class="text-center">
                                Password
                            </h5>
                        </div>
                        <input type="password" class="form-control" th:field="*{password}" id="password2"
                               placeholder="Password">
                    </div>
                    <br>

                    <div class="form-group w-50 m-auto p-auto">
                        <div class="col-lg-12">
                            <h5 class="text-center">
                                Role
                            </h5>
                        </div>
                        <select class="form-control" name="role" multiple size="2">
                            <option>ADMIN</option>
                            <option>USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input class="btn btn-primary" type="submit" value="Edit">
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>